:root {
    --card-height: 65vh;
    --card-width: calc(var(--card-height) / 1.5);
}

body {
    min-height: 100vh;
    background: #212534;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 2rem;
    padding-bottom: 2rem;
    box-sizing: border-box;
}

@property --rotate {
    syntax: "<angle>";
    initial-value: 132deg;
    inherits: false;
}

.cellphoneContent:hover {
    color: rgb(88 199 250 / 100%);
    transition: color 1s;
}

.cellphoneContent:hover:before,
.cellphoneContent:hover:after {
    animation: none;
    opacity: 1;
}

@keyframes spin {
    0% {
        --rotate: 0deg;
    }

    100% {
        --rotate: 360deg;
    }
}

.cellphoneContent {
    margin-top: 50px;
    margin-bottom: 100px;
    width: 600px;
    height: 550px;
    border-radius: 67% 33% 41% 59% / 40% 26% 74% 60%;
    /* glass */
    background: rgba(240, 240, 240, 0);
    /* box-shadow: 0 8px 32px 0 rgba(147, 150, 189, 0.37);*/
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
}

.cellphoneContent::before {
    margin-top: 50px;
    margin-bottom: 100px;
    width: 600px;
    height: 550px;
    content: "";
    width: 104%;
    height: 102%;
    border-radius: 67% 33% 41% 59% / 40% 26% 74% 60%;
    background-image: linear-gradient(var(--rotate),
            #5ddcff,
            #3c67e3 43%,
            #4e00c2);
    position: absolute;
    z-index: -1;
    top: -1%;
    left: -2%;
    animation: spin 2.5s linear infinite;

}

.cellphoneContent::after {
    position: absolute;
    content: "";
    top: calc(var(--card-height) / 6);
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    transform: scale(0.8);
    filter: blur(calc(var(--card-height) / 6));
    background-image: linear-gradient(var(--rotate),
            #5ddcff,
            #3c67e3 43%,
            #4e00c2);
    opacity: 1;
    transition: opacity 0.5s;
    animation: spin 3.2s linear infinite;
}



.celular {
    background-image: url(/img/celu2.png);
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 100px;
    margin-top: -15px;
    margin-bottom: 100px;
    width: 120%;
    height: 120%;
    transform: rotate(-15deg);
    z-index: 3;    
}


.titulo {
    font-size: 80px;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(to right, #f83600 0%, #f9d423 100%);
}

/* *********************************** */

.buttonAnimated {
    width: 400px;
    height: 80px;
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 55px;
    -webkit-box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.buttonAnimated:hover {
    background-color: #2EE59D;
    -webkit-box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    -webkit-transform: translateY(-7px);
    -ms-transform: translateY(-7px);
    transform: translateY(-7px);
}

.buttonAnimated:active {
    -webkit-transform: translateY(-1px);
    -ms-transform: translateY(-1px);
    transform: translateY(-1px);
}


/* *********************************************************** */