@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
}

body {
    background-image: url(/Web-Colegio-master/img/qrBackgroud.jpg);
}



.buttonAnimated {
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    -webkit-box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}


/* Botones */

.buttonApi {
    outline: none;
    cursor: pointer;
    border: none;
    padding: 0.9rem 2rem;
    margin-top: 10px;
    font-family: inherit;
    font-size: inherit;
    position: relative;
    display: inline-block;
    letter-spacing: 0.05rem;
    font-weight: 700;
    font-size: 17px;
    border-radius: 500px;
    overflow: hidden;
    background: #66ff66;
    color: rgb(0, 0, 0);
}

.buttonApi span {
    position: relative;
    z-index: 10;
    transition: color 0.4s;
}

.buttonApi:hover span {
    color: black;
}

.buttonApi::before,
.buttonApi::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.buttonApi::before {
    content: "";
    background: rgb(175, 172, 172);
    width: 120%;
    left: -10%;
    transform: skew(30deg);
    transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
}

.buttonApi:hover::before {
    transform: translate3d(100%, 0, 0);
}


/* *********************************** */

.buttonAnimated {
    margin-top: 350px;
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    -webkit-box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.buttonAnimated:hover {
    background-color: #2EE59D;
    -webkit-box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    -webkit-transform: translateY(-7px);
    -ms-transform: translateY(-7px);
    transform: translateY(-7px);
}

.buttonAnimated:active {
    -webkit-transform: translateY(-1px);
    -ms-transform: translateY(-1px);
    transform: translateY(-1px);
}


/* *********************************************************** */

.buttonCarrusel {
    outline: none;
    cursor: pointer;
    border: none;
    padding: 0.9rem 2rem;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    position: relative;
    display: inline-block;
    letter-spacing: 0.05rem;
    font-weight: 700;
    font-size: 17px;
    border-radius: 500px;
    overflow: hidden;
    background: #66ff66;
    color: rgb(0, 0, 0);
}

.buttonCarrusel span {
    position: relative;
    z-index: 10;
    transition: color 0.4s;
}

.buttonCarrusel:hover span {
    color: black;
}

.buttonCarrusel::before,
.buttonCarrusel::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.buttonCarrusel::before {
    content: "";
    background: rgb(255, 255, 255);
    width: 120%;
    left: -10%;
    transform: skew(30deg);
    transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
}

.buttonCarrusel:hover::before {
    transform: translate3d(100%, 0, 0);
}






.h2Comunidad {
    font-size: 45px;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
}

.h2Portal {
    font-size: 60px;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
}

.h2Comunidad2 {
    font-size: 45px;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: radial-gradient(circle 248px at center, #16d9e3 0%, #30c7ec 47%, #46aef7 100%);
}

.h2Talleres {
    font-size: 45px;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
}

.h2Admision {
    font-size: 45px;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(to right, #f83600 0%, #f9d423 100%);
}

.h2Contacto {
    font-size: 45px;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: radial-gradient(circle 248px at center, #16d9e3 0%, #30c7ec 47%, #46aef7 100%);
}

.h2Sesion {
    font-size: 45px;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(to right, #434343 0%, black 100%);
}



@media only screen and (min-width: 320px) {
    .card {
        background: #191c29;
        width: 200px;
        height: 300px;
        padding: 3px;
        position: relative;
        border-radius: 6px;
        justify-content: center;
        align-items: center;
        text-align: center;
        display: flex;
        font-size: 1.5em;
        color: rgb(88 199 250 / 0%);
        cursor: pointer;
        font-family: cursive;
    }

    .buttonAnimated {
        margin-top: 350px;
        padding: 1.3em 3em;
        font-size: 12px;
        text-transform: uppercase;
        letter-spacing: 2.5px;
        font-weight: 500;
        color: #000;
        background-color: #fff;
        border: none;
        border-radius: 45px;
        -webkit-box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
        -webkit-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s;
        cursor: pointer;
        outline: none;
    }
}

@media only screen and (min-width: 320px) and (max-width: 480px) {}

@media only screen and (min-width: 480px) and (max-width: 768px) {}


/* iPads (portrait and landscape) ----------- */

@media only screen and (min-width: 768px) and (max-width: 1024px) {}

@media only screen and (min-width: 1025px) and (max-width: 1200px) {}





@property --rotate {
    syntax: "<angle>";
    initial-value: 132deg;
    inherits: false;
}

:root {
    --card-height: 65vh;
    --card-width: calc(var(--card-height) / 1.5);
}

body {
    min-height: 100vh;
    background: #212534;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 2rem;
    padding-bottom: 2rem;
    box-sizing: border-box;
}

.card {
    background: #191c29;
    width: 300px;
    height: 450px;
    padding: 3px;
    position: relative;
    border-radius: 6px;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    font-size: 1.5em;
    color: rgb(88 199 250 / 0%);
    cursor: pointer;
    font-family: cursive;
}

.card:hover {
    color: rgb(88 199 250 / 100%);
    transition: color 1s;
}

.card:hover:before,
.card:hover:after {
    animation: none;
    opacity: 0;
}

.card::before {
    content: "";
    width: 104%;
    height: 102%;
    border-radius: 8px;
    background-image: linear-gradient(var(--rotate),
            #5ddcff,
            #3c67e3 43%,
            #4e00c2);
    position: absolute;
    z-index: -1;
    top: -1%;
    left: -2%;
    animation: spin 2.5s linear infinite;
}

.card::after {
    position: absolute;
    content: "";
    top: calc(var(--card-height) / 6);
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    transform: scale(0.8);
    filter: blur(calc(var(--card-height) / 6));
    background-image: linear-gradient(var(--rotate),
            #5ddcff,
            #3c67e3 43%,
            #4e00c2);
    opacity: 1;
    transition: opacity 0.5s;
    animation: spin 2.5s linear infinite;
}

@keyframes spin {
    0% {
        --rotate: 0deg;
    }

    100% {
        --rotate: 360deg;
    }
}

a {
    color: #212534;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: bold;
    margin-top: 2rem;
}